
@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="detail" class="my-5">
    <div class="container ">


        <!-- ____________________________ -->

        <div class="row mt-4">

            <div class="col-md-9">
                <!-- _________________________- -->

                <div class="row my-4 main-header">
                    <div class="text-center m-auto ">
                        <h2 class="main-tittle my-2 ">Giới thiệu</h2>
                    </div>
                    <div class="main-header-line text-center d-flex m-auto justify-content-center">
                        <span class="line-box"></span>
                        <i class="fas fa-fan mx-3"></i>
                        <span class="line-box"></span>
                    </div>
                </div>

                <!-- ___________________ -->
                <div class="row ">
                    <h3 class="py-4 fw-bold">Nông Sản Sạch – Chuyên cung cấp thực phẩm sạch</h3>
                    <p>
                        Chúng tôi hi vọng tất cả người tiêu dùng Việt Nam nói chung và miền trung sẽ được sử dụng những thụ phẩm rau củ quả tươi ngon, bổ dưỡng và an toàn nhất tại cửa hàng cung cấp thực phẩm rau củ sạch <strong>Nông Sản Sạch</strong>.
                        Với sứ mệnh trở thành một trong những nhà cung cấp thực phẩm sạch hàng đầu tại Việt Nam đưa đến người tiêu dùng loại nông sản tươi ngon nhất của các vùng miền trên toàn quốc với mục đích là <strong>
                            “Mang thiên nhiên về với căn
                            nhà của bạn”
                        </strong>. Với quy trình lựa chọn và kiểm soát nghiêm ngặt Nông Sản Sạch đã tạo nên quỹ đầu tư chuyên thu mua và cung cấp phân phối những sản phẩm rau sạch tươi ngon nhất từ các nông trại phân phối đến tay
                        người tiêu dùng giúp họ có những bữa ăn tươi ngon nhất trong từng sản phẩm khác biệt từ thiên nhiên.
                    </p>
                    <div class="text-center mb-3">
                        <img src="../img/cover-1.jpg" alt="" class="img-fluid">
                    </div>
                    <p>
                        Với triết lý trong kinh doanh là tuân thủ và đảm bảo được chất lượng tươi ngon nhất, nguồn gốc xuất xứ về sản phẩm rõ ràng.Chúng tôi cam kết không sử dụng chất bảo quản nào bị Bộ Y Tế cấm không được sử dụng và cam kết với quý
                        khách hàng về toàn bộ những sản phẩm được phân phối qua hệ thống phân phối <strong>Nông Sản Sạch</strong> đảm bảo an toàn nhất.
                    </p>
                    <p>
                        Chúng tôi phân phối những hàng hóa được cung cấp từ những nhà sản xuất có uy tín và đã được cơ quan y tế có thẩm quyền cấp chứng nhận và đảm bảo vệ sinh an toàn thực phẩm có đủ quyền cung cấp thực phẩm sạch, các loại nông sản
                        là các đặc sản từ mọi miền trên toàn quốc, các thực phẩm sử dụng hàng ngày như thủy hải sản tươi sống, đồ đông lạnh (cá, tôm, cua,...) thịt tươi sống (thịt bò, thịt lợn, thịt gà,..); các thực phẩm được đóng gói, thực phẩm
                        được chế biến sẵn, rau củ quả, các loại gạo vùng miền và các loại phụ gia về thực phẩm như các loại gia vị dùng trong việc chế biến món ăn hàng ngày,...
                    </p>
                    <div class="text-center mb-3">
                        <img src="../img/cover-7.jpg" alt="" class="img-fluid">
                    </div>

                    <p>
                        Với phương châm <strong>“Cung Cấp Thực Phẩm Sạch – An Toàn – Dịch Vụ Chuyên Nghiệp”, Nông Sản Sạch</strong> bảo đảm đáp ứng mọi yêu cầu, nhu cầu của Quý khách thông qua hệ thống cung cấp chuyên nghiệp với giá cả, chất lượng
                        tốt nhất, thời gian giao hàng nhanh nhất và phục vụ tốt nhất tới tận tay Quý khách hàng.

                    </p>
                    <p>
                        Để nâng cao chất lượng sản phẩm và chất lượng phục vụ cung cấp thực phẩm sạch online ở Huế phấn đấu rộng khắp toàn quốc ngày càng tốt hơn, công ty chúng tôi mong được sự ủng hộ và đón nhận ý kiến đóng góp từ phía Quý khách
                        mọi chi tiến xin liên hệ với Nông sản Sạch để được tư vấn miễn phí.
                    </p>
                 
                </div>


            </div>
        </div>
    </div>
</div>
